Test/TestDeploymentFLow.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "327ab76a-656a-3c27-bbac-2eb5ba4eed73" : {
          "identifier" : "327ab76a-656a-3c27-bbac-2eb5ba4eed73",
          "name" : "JsonTreeReader"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "1fd08645-9e36-3ae8-9fb6-bcc5d7ecaf35",
            "instanceIdentifier" : "8e990547-0191-1000-733d-ee7de96ecb4e",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "576df884-1edf-3b2b-b730-9d9525ec8605",
          "instanceIdentifier" : "933c605e-0191-1000-7430-da6010396b60",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "6ac7acf8-49fa-31c4-9793-a197d6a8459e",
            "instanceIdentifier" : "933c40e4-0191-1000-e6c1-608ba30e0c63",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "2f23f82d-888a-3682-b874-d4f1b3a19be9",
            "instanceIdentifier" : "933d913e-0191-1000-8820-0669fe271d4d",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "3ee8f94e-00ef-319a-abda-6d6ada49c487",
          "instanceIdentifier" : "933da04d-0191-1000-70ed-74e2c4d488a5",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "6ac7acf8-49fa-31c4-9793-a197d6a8459e",
            "instanceIdentifier" : "933c40e4-0191-1000-e6c1-608ba30e0c63",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "fe748f58-8001-3dc4-be5c-5d0b9cecf321",
            "instanceIdentifier" : "8e98087c-0191-1000-15cb-c324f31f6d11",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "e340c782-1dd7-3fe6-a94a-c930a56d7167",
          "instanceIdentifier" : "8e981939-0191-1000-6faf-3a6455ea8c3a",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "5e2f86bb-4275-32e7-85f5-c11824eb208d",
            "instanceIdentifier" : "8e97f0ab-0191-1000-4afb-af847e75807d",
            "name" : "Test",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "6ac7acf8-49fa-31c4-9793-a197d6a8459e",
            "instanceIdentifier" : "933c40e4-0191-1000-e6c1-608ba30e0c63",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "575d7fb6-6574-39e5-9aa1-fff77c7c7573",
          "instanceIdentifier" : "8e991056-0191-1000-f7c8-2857bcb70e74",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
            "id" : "fe748f58-8001-3dc4-be5c-5d0b9cecf321",
            "instanceIdentifier" : "8e98087c-0191-1000-15cb-c324f31f6d11",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "e3e9c7a2-3565-3e8b-80b0-a07002c59bc3",
          "instanceIdentifier" : "933d6a0a-0191-1000-b1f3-90dd6aed3158",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "Allow Scientific Notation" : "false",
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-reference-reader" : {
              "displayName" : "Schema Reference Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-reference-reader",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Allow Scientific Notation" : {
              "displayName" : "Allow Scientific Notation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Allow Scientific Notation",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Schema Reference Writer" : {
              "displayName" : "Schema Reference Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Schema Reference Writer",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "1fd08645-9e36-3ae8-9fb6-bcc5d7ecaf35",
          "instanceIdentifier" : "8e990547-0191-1000-733d-ee7de96ecb4e",
          "position" : {
            "x" : -96.0,
            "y" : 664.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "2f23f82d-888a-3682-b874-d4f1b3a19be9",
          "instanceIdentifier" : "933d913e-0191-1000-8820-0669fe271d4d",
          "position" : {
            "x" : -502.0932995397029,
            "y" : 459.93398261090385
          }
        } ],
        "identifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
        "inputPorts" : [ ],
        "instanceIdentifier" : "8e97d8b1-0191-1000-cdb0-464c7147aff3",
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "FinxactTest",
        "outputPorts" : [ ],
        "position" : {
          "x" : -2119.5624548028327,
          "y" : 1832.271738729928
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "5e2f86bb-4275-32e7-85f5-c11824eb208d",
          "instanceIdentifier" : "8e97f0ab-0191-1000-4afb-af847e75807d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Test",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -224.0,
            "y" : -336.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "mime-type" : "application/json",
            "generate-ff-custom-text" : "{\"_Id\":\"4ysCIFeCZCWFX_qAB9yq0cL2\",\"_attch\":\"posn_depRules|posn_depNsf|posn_depLimit|posn_depInt|posn_depFee|\",\"_cDtm\":\"2024-08-22T12:38:51.870171352Z\",\"_cLogRef\":\"4ysCIFe9vday4UwU8MDs_t5m\",\"_class\":\"posn_dep\",\"_flags\":0,\"_schVn\":0,\"_uDtm\":\"2024-08-22T12:53:44.314225366Z\",\"_uLog\":\"4ysD6CGS7hNQVmIVTRoZ4eHI\",\"_uLogRef\":\"4ysD6BldkvFkICmCFH9H00H0\",\"_vn\":6,\"acctGroup\":1,\"acctNbr\":\"100000000160\",\"acctgSeg\":{\"LegEntity\":\"100\",\"OrigBrnch\":\"06\",\"ProductLine\":\"502\",\"RptGroup\":\"50\"},\"assetClass\":1,\"assetId\":\"USD\",\"bal\":400,\"ccyCode\":\"USD\",\"fundAmt\":100,\"fundDtm\":\"2024-08-22T12:38:52.70981Z\",\"glCat\":2,\"glSetCode\":\"PerIntChkLess100k\",\"isEarlySettleOptOut\":false,\"isExclZeroBalClose\":false,\"isPrepaid\":false,\"openDtm\":\"2024-08-22T12:38:51.870171Z\",\"posnAcctNbr\":\"100000000160\",\"posnName\":\"Simple Consumer Checking 01\",\"posnNbr\":1,\"processFlags\":{\"isHold\":false},\"prodName\":\"DDA1001\",\"subBals\":{\"dec2\":{},\"dec5\":{}},\"tmZoneCode\":\"usnyc\"}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "6ac7acf8-49fa-31c4-9793-a197d6a8459e",
          "instanceIdentifier" : "933c40e4-0191-1000-e6c1-608ba30e0c63",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 424.0
          },
          "properties" : {
            "Include Zero Record FlowFiles" : "true",
            "Record Writer" : "e3e9c7a2-3565-3e8b-80b0-a07002c59bc3",
            "Record Reader" : "327ab76a-656a-3c27-bbac-2eb5ba4eed73"
          },
          "propertyDescriptors" : {
            "Include Zero Record FlowFiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Zero Record FlowFiles",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c6a5d299-c821-3ede-92a0-9ccfa5e63553",
          "identifier" : "fe748f58-8001-3dc4-be5c-5d0b9cecf321",
          "instanceIdentifier" : "8e98087c-0191-1000-15cb-c324f31f6d11",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -648.0,
            "y" : 80.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}